<%= render "layouts/errors", :object => @student %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @student do |f| %>
      <%= f.text_field :lastname, class: 'form-control', placeholder: 'Last Name', required: true %>
      <br>
      <%= f.text_field :firstname, class: 'form-control', placeholder: 'First Name', required: true %>
      <br>
      <%= f.text_field :chinesename, class: 'form-control', placeholder: 'Other Name' %>
      <br>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :dob_dob, 'Date of Birth' %>
          <br>
          <%= f.date_select :dob, {:order => [:month, :day, :year],:prompt => true, :start_year => 1920, :end_year => Time.now.year}, required: true %>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :gender_gender, 'Gender' %>
          <br>
          <%= f.label :Gender_male, 'Male' %>
          <%= f.radio_button :gender, "Male" %>
          <%= f.label :Gender_female, 'Female' %>
          <%= f.radio_button :gender, "Female" %>
        </div>
      </div>

      <br>
      <%= f.text_field :countryorigin, class: 'form-control', placeholder: 'Origin Country' %>
      <br>
      <%= f.text_field :parentsorigin, class: 'form-control', placeholder: 'Parents Hometown' %>
      <br>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      <br>
      <%= f.text_field :mobile, class: 'form-control', placeholder: 'Mobile' %>
      <br>
      <%= f.text_field :occupation, class: 'form-control', placeholder: 'Occupation' %>
      <br>
      <div class="row">

          <%= f.label :fellowship_label, 'Fellowship' %>
          <br>
          <%= f.label :fellowship_led, 'LED'%>
          <%= f.radio_button :fellowship, 'LED' %>
          <%= f.label :fellowship_light, 'LIGHT' %>
          <%= f.radio_button :fellowship, 'LIGHT' %>
          <%= f.label :fellowship_bulbs, 'BULBS' %>
          <%= f.radio_button :fellowship, 'BULBS' %>
          <%= f.label :fellowship_h2o, 'H2O' %>
          <%= f.radio_button :fellowship, 'H2O' %>
          <%= f.label :fellowship_eaf, 'EAF' %>
          <%= f.radio_button :fellowship, 'EAF' %>
          <%= f.label :fellowship_sos, 'SOS' %>
          <%= f.radio_button :fellowship, 'SOS' %>
          <%= f.label :fellowship_dorcas, 'Dorcas' %>
          <%= f.radio_button :fellowship, 'Dorcas' %>
          <%= f.label :fellowship_joshua, 'Joshua' %>
          <%= f.radio_button :fellowship, 'Joshua' %>

      </div>
      <br>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :congregation_label, 'Congregation' %>
          <br>
          <%= f.label :congregation_chinese, 'Chinese' %>
          <%= f.radio_button :congregation, 'Chinese' %>
          <%= f.label :congregation_english, 'English' %>
          <%= f.radio_button :congregation, 'English' %>
          <%= f.label :congregation_mandarin, 'Mandarin' %>
          <%= f.radio_button :congregation, 'Mandarin' %>
        </div>
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-6 col-md-offset-3">
          <%= f.label :image,'Upload An Image'%>
          <div class="center">
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
      <br>
      <%= f.submit class: 'btn btn-default'%>
      <% end %>
    </div>
  </div>
</div>
