<%= render "layouts/errors", :object => @student %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form_for @student do |f| %>
      <%= f.text_field :lastname, class: 'form-control', placeholder: 'Last Name' %>
      <br>
      <%= f.text_field :firstname, class: 'form-control', placeholder: 'First Name' %>
      <br>
      <%= f.text_field :chinesename, class: 'form-control', placeholder: 'Other Name' %>
      <br>
      <div class="col-md-3 text-left">
        Date of Birth
      </div>
      <div class="col-md-6">
        <%= f.date_select :dob, class: 'form-control', placeholder: 'Date Of Birth' %>
      </div>
      <br>
      <br>
      <div class="col-md-3 text-left">
        <%= f.label :Gender %>

      </div>
      <div class="col-md-6">

      <%= f.label :Gender_male, 'Male' %>
      <%= f.radio_button :gender, "Male" %>
      <%= f.label :Gender_female, 'Female' %>
      <%= f.radio_button :gender, "Female" %>
      </div>
      <br>
      <%= f.text_field :countryorigin, class: 'form-control', placeholder: 'Origin Country' %>
      <br>
      <%= f.text_field :parentsorigin, class: 'form-control', placeholder: 'Parents Hometown' %>
      <br>
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      <br>
      <%= f.text_field :mobile, class: 'form-control', placeholder: 'Mobile' %>
      <br>
      <%= f.text_field :occupation, class: 'form-control', placeholder: 'Occupation' %>
      <br>
      <%= f.select(:fellowship) do %>
        <%= [['Fellowship', ""], ['LED', 'LED']].each do |c| %>
          <%= content_tag(:option, c.first, value: c.last) %>
          <% end %>
        <% end %>
      <br>
      <%= f.text_field :congregation, class: 'form-control', placeholder: 'Congregation' %>
      <br>
      <%= f.label :image,'Upload An Image'%>
      <br>
      <div id="filefield">
        <%= f.file_field :image %>
      </div>
      <%= f.submit class: 'btn btn-default'%>
    <% end %>
    </div>
  </div>
</div>
