<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>Reservations</h1>
      <p>Reserve your conference room</p>
      <% if current_user %>
        <%= link_to "Make a reservation", new_room_path, class: "btn btn-primary" %>
      <% end %>
    </header>
  </div>
  <div class="row text-center">
    <table id="table1" class="table">
      <thead>
        <tr>
          <th class="col-md-1 text-left"><%= sortable "clock", "Date" %></th>
          <th class="col-md-2"><%= sortable "description", "Description" %></th>
          <th class="col-md-1 text-center"><%= sortable "room", "Room" %></th>
          <th class="col-md-1 text-center"><%= sortable "name", "Host" %></th>
        </tr>
      </thead>
      <tbody>
        <% @rooms.each do |room| %>
          <tr>
            <td class="text-left"><%= room.clock.strftime '%m/%d/%Y - %l:%M %P' %></td>
            <td class='text-left'><%= room.description %></td>
            <td><%= room.room %></td>
            <td><%= room.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
